@page
@model WebApp.Pages_Games.IndexModel


@{
    ViewData["Title"] = "Load game";
}

<h1>Saved Games</h1>
<hr/>
<div class="mt-4 mb-5">
    <a asp-page="New" class="btn btn-lg btn-primary">New Game</a>
    <a asp-page="/Settings/Current" class="btn btn-lg btn-secondary">Settings</a>
</div>
<div class="row">
    @foreach (var item in Model.GameState) {
        <div class="col-xl-4 col-lg-4 pb-4">
            <div class="card">
                <div class="card-header font-weight-bold h3">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="card-body">
                    <h5>Opponent: @(item.Opponent == 0 ? "Human" : "Computer")</h5>
                    <h5>@Html.DisplayFor(modelItem => item.Data)</h5>
                    <h5>Status: @(item.Winner != 0 ? "Over" : "In progress")</h5>
                    <div class="text-center">
                        <div class="btn-group btn-group-justified mt-3" style="min-width: 100%">
                            @if (item.Winner == 0) {
                                <a class="inner btn btn-success" style="width: 70%" asp-page="./Play" asp-route-id="@item.Name">Play</a>
                            }
                            else {
                                <a class="inner btn btn-info" style="width: 70%" asp-page="./Details" asp-route-id="@item.Name">Show Details</a>
                            }
                            <a class="inner btn btn-danger" style="width: 30%" asp-page="./Delete" asp-route-id="@item.Name">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>