@page
@model ExamApp.Pages_Quizzes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model.Quiz) {
        <div class="col-xl-4 col-lg-4 pb-4">
            <div class="card">
                <div class="card-header font-weight-bold h3">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="card-body">
                    <div class="card-text mx-2 mb-3">@item.Description</div>
                    <div class="text-center">
                        <div class="btn-group btn-group-justified mt-3" style="min-width: 100%">
                            <a class="inner btn btn-success" asp-page="./Edit" asp-route-id="@item.QuizId">Edit</a>
                            <a class="inner btn btn-info" asp-page="./Details" asp-route-id="@item.QuizId">Details</a>
                            <a class="inner btn btn-danger" asp-page="./Delete" asp-route-id="@item.QuizId">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

