@page
@model WebApp.Pages_Books.IndexModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form class="form-inline" method="get" id="searcher">
    <div class="form-group">
        <input asp-for="Search" value="@Model.Search" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" style="margin-left: 10px" class="btn btn-primary"/>
        <input type="submit" value="Reset" name="ToDoActionReset" style="margin-left: 10px" class="btn btn-dark"
               @(string.IsNullOrWhiteSpace(Model.Search) ? "disabled=\"disabled\"" : "")/>
    </div>
</form>
<div class="padding-on-top-20">
    @if (!string.IsNullOrWhiteSpace(Model.Search))
    {
        <p>Search is active. Search term: @Model.Search</p>
    }
</div>
<p>Records: @Model!.Books!.Count</p>

<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" style="margin: 3px">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Book!.Title)
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Authors: @item.Book!.BookAuthors!.Count
                    </p>
                    <p class="card-text">
                    @if (@item.Book.BookAuthors.Count > 0)
                    {
                        @foreach (var bookAuthor in item.Book.BookAuthors)
                        {
                            <p>@Html.DisplayFor(modelItem => bookAuthor.Author!.FirstLastName)</p>
                        }
                    }

                    <p class="card-text">
                        @Html.DisplayNameFor(model => model!.Books![0].Book!.Summary):
                        @Html.DisplayFor(modelItem => item.Book.Summary)</p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model!.Books![0].Book!.WordCount):
                        @Html.DisplayFor(modelItem => item.Book.WordCount)</p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model!.Books![0].Book!.Language):
                        @Html.DisplayFor(modelItem => item.Book.Language!.LanguageName)</p>
                    <p class="card-text">Comments: @item.CommentCount</p>
                    <p class="card-text">
                    @if (!string.IsNullOrWhiteSpace(@item.LastComment))
                    {
                        <p>Last comment: @item.LastComment</p>
                    }
                    <a asp-page="/Comments/Index" asp-route-bookId="@item.Book.BookId">Read All Comments</a>
                    <a asp-page="./Edit" asp-route-id="@item.Book.BookId" class="card-link">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Book.BookId" class="card-link">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Book.BookId" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    }

</div>