@page
@model ExamApp.Pages_Choices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Choice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Choice.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Choice.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Choice.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Choice.Question.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Choice.ChoiceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
